<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="UnitTestSuite">
            <directory>unit</directory>
        </testsuite>
        <testsuite name="IntegrationTestSuite">
            <directory>integration</directory>
        </testsuite>
        <testsuite name="EdgeToEdgeTestSuite">
            <directory>edge-to-edge</directory>
        </testsuite>
    </testsuites>
    <coverage cacheDirectory="./cached"
              includeUncoveredFiles="true"
              processUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <include>
            <directory suffix=".php">../src</directory>
        </include>
        <report>
            <clover outputFile="clover.xml"/>
            <cobertura outputFile="cobertura.xml"/>
            <crap4j outputFile="crap4j.xml" threshold="50"/>
            <html outputDirectory="html-coverage" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="coverage.php"/>
            <text outputFile="coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
            <xml outputDirectory="xml-coverage"/>
        </report>
    </coverage>
</phpunit>